* {
    --primary-color: rgb(32, 63, 88);
    --secondary-color: rgb(247, 132, 38);
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}

#formWrapper {
    align-self: center;
    margin-top: -10px;
    box-shadow: 3px 3px 10px 5px rgba(200, 200, 200, 0.7);
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    height: 60vh;
    min-height: 400px;
    max-height: 650px;
}

#tableHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 25px Arial, sans-serif;
    font-weight: 600;
    color: white;
}

#innerForm {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(5, 20%);
    margin: 5% 15%;
}

#inputElem {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 5%;
}

#inputLabel {
    grid-column: 1;
    align-self: end;
    color: gray;
    font: 12px Arial, sans-serif;
}

#newTask {
    grid-column: 1;
    max-width: 90%;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

#taskText{
    border: none;
    width: 99%;
    height: 20px;
    margin: 5px 0px;
    background-color: rgba(32, 63, 88, 0.3);
}

#inputButton{
    grid-column: 2;
    align-self: end;
    height: 40px;
    min-width: 110px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}

.listElem{
    align-self: center;
    display: grid;
    grid-template-columns: 10% 65% 25%;
}

#firstChild{
    border-bottom: 1px solid black;
    padding-bottom: 10%;
}

/* change color */
.checkbox {
    height: 15px;
    width: 15px;
}

.xButton{
    justify-self: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 20px;
    border: none;
}

#deleteButton{
    align-self: center;
    height: 45px;
    width: 160px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    font: 15px Arial, sans-serif;
    margin-bottom: 5%;
}